body {
  background-image: url("./images/new_year_background.png"); }

@font-face {
  font-family: 'Moriston';
  src: url("./fonts/MoristonPersonal-Regular.otf") format("truetype"); }
@font-face {
  font-family: 'Ananda';
  src: url("./fonts/Ananda-Regular.ttf") format("truetype"); }
/* *********************** */
.container {
  display: flex; }
  .container #box {
    display: flex;
    flex-direction: column; }
    .container #box .row {
      display: flex;
      justify-content: flex-start; }
    .container #box .boxes {
      height: 300px;
      width: 300px;
      margin: 20px;
      background-color: rgba(192, 183, 177, 0.5);
      opacity: 0.5;
      position: relative; }
      .container #box .boxes #name #last-name {
        font-family: Ananda, serif;
        color: #037356;
        font-size: 1.5em;
        letter-spacing: 3px; }
      .container #box .boxes #name #first-name {
        font-size: 3em;
        color: #05a47b;
        font-family: Moriston, sans-serif; }
      .container #box .boxes #social-links {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .container #box .boxes #social-links i {
          color: #88a2be;
          padding: 3px;
          z-index: 1; }
          .container #box .boxes #social-links i:hover {
            color: #54C6EB; }
  .container #nav {
    min-width: 250px;
    text-align: center;
    position: relative; }
    .container #nav #nav-buttons {
      color: white;
      letter-spacing: 3px;
      font-family: Moriston, sans-serif;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .container #nav #nav-buttons #about-me-button {
        width: 0;
        height: 0;
        position: relative;
        border-bottom: 100px solid #A9BCD0;
        border-right: 100px solid transparent;
        border-left: 100px solid transparent;
        margin-bottom: 10px; }
        .container #nav #nav-buttons #about-me-button :hover {
          cursor: pointer; }
        .container #nav #nav-buttons #about-me-button h1 {
          position: absolute;
          top: 30px;
          left: -65px; }
      .container #nav #nav-buttons #contact {
        width: 0;
        height: 0;
        position: relative;
        border-top: 100px solid #A9BCD0;
        border-right: 100px solid transparent;
        border-left: 100px solid transparent; }
        .container #nav #nav-buttons #contact h2 {
          position: absolute;
          top: -120px;
          left: -70px; }
    .container #nav #about {
      color: #A9BCD0;
      font-family: Moriston, sans-serif;
      line-height: 150%;
      letter-spacing: 1px;
      margin-top: 200px;
      color: #06D6A0; }
      .container #nav #about .keyword {
        color: #A9BCD0; }
    .container #nav #contact-info {
      color: #A9BCD0;
      font-family: Moriston, sans-serif;
      line-height: 150%;
      letter-spacing: 1px;
      margin-top: 200px;
      font-size: 2em; }
      .container #nav #contact-info a {
        color: #808aa1;
        text-decoration: none; }
        .container #nav #contact-info a:hover {
          color: #06D6A0; }

/*# sourceMappingURL=styles.css.map */
