$primary-font: Moriston, sans-serif;
$secondary-font: Ananda, serif;
$box-border: 3px solid #454851;
$aqua: #45B69C;
$grey: #454851;
$soft-red: #BA6E6E;
$link-color: #2C4251;
$text-color: #BD9391;

@mixin nav-info {
  color:  $text-color;
  font-family: $primary-font;
  line-height: 150%;
  letter-spacing: 1px;
  margin-top: 200px;
}

@mixin centerer {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-image: url('./images/new_year_background.png');
}

@font-face {
  font-family: 'Moriston';
  src: url('./fonts/MoristonPersonal-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Ananda';
  src: url('./fonts/Ananda-Regular.ttf') format('truetype');
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

  #page {
    min-width: 1244px;
    max-width: 1300px;
    margin: 30px;
    position: relative;
  }
}

a {
  text-decoration: none;
  color: $link-color;
}

#box {
  float:right;
  width: 80%;

  h1 {
    color: $text-color;
  }

  #first-name {
    color: $soft-red;
    font-family: $primary-font;
  }

  .boxes {
    height: 300px;
    width: 300px;
    float: left;
    margin: 5px;
    text-align: center;
    position: relative;
    background-color: rgba(221, 216, 196, .5);

    img {
      opacity: 0.1;
    }
  }

  .center-channel {
    clear:both;
    width: 912px;
    padding: 20px 25px 20px 35px;
    position: relative;

    font-family: $secondary-font;
    font-size: 1.5em;
    color: $text-color ;
    letter-spacing: 35px;

    #social-links {
      @include centerer;

      i {
        color: $link-color;
        padding: 5px;
        margin: 25px;
      }
    }
  }
}


#left-col {
  float: left;
  position: relative;
  width: 15%;
  height: 100%;
  padding: 20px;


  text-align: center;


  #nav-buttons {
    color: white;
    letter-spacing: 3px;
    font-family: $primary-font;

    position: absolute;
    top: 280px;
    left: 20px;
    right: 0;


    #about-me-button {
      width: 0;
      height: 0;
      position: relative;
      border-bottom: 100px solid $grey;
      border-right: 100px solid transparent;
      border-left: 100px solid transparent;
      margin-bottom: 10px;


      & :hover {
        cursor: pointer;
      }

      h1 {
        position: absolute;
        top: 30px;
        left: -65px;
      }
    }

    #contact {
      width: 0;
      height: 0;
      position: relative;
      border-top: 100px solid $text-color;
      border-right: 100px solid transparent;
      border-left: 100px solid transparent;

      h2 {
        position: absolute;
        top: -120px;
        left: -70px;
      }
    }
  }

  #about {
    @include nav-info;
    color: $aqua;
    .keyword {
      color: $link-color;
    }
  }

  #contact-info {
    @include nav-info;
    font-size: 2em;
    a {
      color: $aqua;
    }
  }

}


.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}





// media queries
//
//
// @media screen and (max-width: 1010px) {
//   .last-name {
//     display: none;
//   }
//
//   #about {
//     width: 577px;
//   }
//
// }
//
// @media screen and (max-width: 702px) {
//   #about {
//     width: 260px;
//     text-align: center;
//   }
//
// }
