@font-face {
  font-family: 'Moriston';
  src: url('./fonts/MoristonPersonal-Regular.otf') format('truetype');
}

.container {
  max-width: 1100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

#page {
  margin: 30px;
  position: relative;
}

.boxes {
  height: 300px;
  width: 300px;
  float: left;
  border: 3px solid #454851;
  margin: 5px;
  text-align: center;
  position: relative;
  background-color: #95D7AE;
}

.boxes:hover {
  background-color: #45B69C;
}

.letter {
  position: absolute;
  top: 90px;
  left: 180px;
  color: white;
  font-size: 3em;
  font-family: 'Moriston', serif;
  z-index: 1;
}

/* alternative background images on boxes */

/*#box-1 {
  background-image: url('./images/slice.jpg');
  background-size: cover;
}

#box-2 {
  background-image: url('./images/slice-1.jpg');
  background-size: cover;
}
#box-3 {
  background-image: url('./images/slice-2.jpg');
  background-size: cover;
}
#box-4 {
  background-image: url('./images/slice-3.jpg');
  background-size: cover;
}
#box-5 {
  background-image: url('./images/slice-4.jpg');
  background-size: cover;
}
#box-6 {
  background-image: url('./images/slice-5.jpg');
  background-size: cover;
}*/

.last-name {
  float: right;
  font-family: 'Moriston', sans-serif;
  font-size: 1.5em;
  color: #454851;
  margin-top: -21px;

}
