$primary-font: Moriston, sans-serif;
$secondary-font: Ananda, serif;

$darkblue: #495867;
$brightblue: #4281A4;
$grey: #A2A79E;
$red: #CE796B;
$pink: #E7AD99;


@mixin nav-info {
  color:  $darkblue;
  font-family: $primary-font;
  line-height: 150%;
  letter-spacing: 1px;
  margin-top: 100px;
}

@mixin centerer {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centerer-icons {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/*********************************/
body {
  background-image: url('./images/new_year_background.png');
}

@font-face {
  font-family: 'Moriston';
  src: url('./fonts/MoristonPersonal-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Ananda';
  src: url('./fonts/Ananda-Regular.ttf') format('truetype');
}


/* *********************** */
.container {
  display: flex;

  #box {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;

    .boxes {
      height: 300px;
      width: 300px;
      margin: 20px;
      position: relative;

      &:not(#box4) {
        opacity: 0.5;
      }

      &:not(#box4):hover {
        opacity: 1;
      }
    }
  }

  #nav {
    width: 300px;
    text-align: center;
    position: relative;
    padding: 20px;
    margin: 50px;

    #name {
      #last-name {
        font-family: $secondary-font;
        color: $darkblue;
        font-size: 1.5em;
        letter-spacing: 3px;
      }

      #first-name {
        font-size: 3em;
        color: $brightblue;
        font-family: $primary-font;
      }
    }

    #social-links {
      @include centerer-icons;

      i {
        color: $red;
        padding: 3px;
        z-index: 1;
        &:hover {
          color: $pink;
        }
      }
    }

    #nav-buttons {
      color: white;
      letter-spacing: 3px;
      font-family: $primary-font;

      @include centerer;

      // #about-me-button {
      //   width: 0;
      //   height: 0;
      //   position: relative;
      //   border-bottom: 100px solid $grey;
      //   border-right: 100px solid transparent;
      //   border-left: 100px solid transparent;
      //   margin-bottom: 10px;
      //
      //
      //   & :hover{
      //     cursor: pointer;
      //   }
      //
      //   h1 {
      //     position: absolute;
      //     top: 30px;
      //     left: -65px;
      //   }
      // }

      #about-me-button {
        width: 0;
        height: 0;
        position: relative;
        border-top: 100px solid $grey ;
        border-right: 100px solid transparent;
        border-left: 100px solid transparent;

        h1 {
          position: absolute;
          top: -120px;
          left: -70px;
        }
      }
    }

    #about {
      @include nav-info;
      color: $darkblue;
      padding: 20px;

    }

    #contact-info {
      @include nav-info;
      font-size: 2em;
      a {
        color: $brightblue;
        text-decoration: none;

        &:hover {
          color: $grey;
        }
      }
    }
  }
}
