body {
  background-image: url("./images/new_year_background.png"); }

@font-face {
  font-family: 'Moriston';
  src: url("./fonts/MoristonPersonal-Regular.otf") format("truetype"); }
@font-face {
  font-family: 'Ananda';
  src: url("./fonts/Ananda-Regular.ttf") format("truetype"); }
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }
  .container #page {
    min-width: 1244px;
    max-width: 1300px;
    margin: 30px;
    position: relative; }

#box {
  float: right;
  width: 80%; }
  #box .boxes {
    height: 300px;
    width: 300px;
    float: left;
    margin: 5px;
    text-align: center;
    position: relative;
    background-color: rgba(192, 183, 177, 0.5); }
    #box .boxes img {
      opacity: 0.1; }
  #box .center-channel {
    clear: both;
    width: 912px;
    padding: 20px 25px 30px 35px;
    position: relative;
    margin-bottom: 30px;
    font-family: Ananda, serif;
    font-size: 1.5em;
    letter-spacing: 35px; }
    #box .center-channel h1 {
      color: #bbc0cc; }
    #box .center-channel #first-name {
      color: #06D6A0;
      font-family: Moriston, sans-serif; }
    #box .center-channel #social-links {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%); }
      #box .center-channel #social-links i {
        color: #D8DBE2;
        padding: 5px;
        margin: 25px; }
        #box .center-channel #social-links i:hover {
          color: #54C6EB; }

#left-col {
  float: left;
  position: relative;
  width: 15%;
  height: 100%;
  padding: 20px;
  text-align: center; }
  #left-col #nav-buttons {
    color: white;
    letter-spacing: 3px;
    font-family: Moriston, sans-serif;
    position: absolute;
    top: 280px;
    left: 20px;
    right: 0; }
    #left-col #nav-buttons #about-me-button {
      width: 0;
      height: 0;
      position: relative;
      border-bottom: 100px solid #A9BCD0;
      border-right: 100px solid transparent;
      border-left: 100px solid transparent;
      margin-bottom: 10px; }
      #left-col #nav-buttons #about-me-button :hover {
        cursor: pointer; }
      #left-col #nav-buttons #about-me-button h1 {
        position: absolute;
        top: 30px;
        left: -65px; }
    #left-col #nav-buttons #contact {
      width: 0;
      height: 0;
      position: relative;
      border-top: 100px solid #A9BCD0;
      border-right: 100px solid transparent;
      border-left: 100px solid transparent; }
      #left-col #nav-buttons #contact h2 {
        position: absolute;
        top: -120px;
        left: -70px; }
  #left-col #about {
    color: #A9BCD0;
    font-family: Moriston, sans-serif;
    line-height: 150%;
    letter-spacing: 1px;
    margin-top: 200px;
    color: #06D6A0; }
    #left-col #about .keyword {
      color: #A9BCD0; }
  #left-col #contact-info {
    color: #A9BCD0;
    font-family: Moriston, sans-serif;
    line-height: 150%;
    letter-spacing: 1px;
    margin-top: 200px;
    font-size: 2em; }
    #left-col #contact-info a {
      color: #808aa1;
      text-decoration: none; }
      #left-col #contact-info a:hover {
        color: #06D6A0; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

/*# sourceMappingURL=styles.css.map */
